body {
  margin: 0;
  text-align: center;
  background-color: grey;
  padding-top: 100px;
  font-family: 'Titillium Web', sans-serif;
}
h1 {
  margin-top: 0;
  font-family: 'Titillium Web', sans-serif;
}
h2 {
  font-family: 'Sacremento', cursive;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Titillium Web', sans-serif;
}
.top {
  background-color: #FF8080;
  position: relative;
}
.middle {

}
.bottom {

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
}
